{% extends "layout.html" %}

{% block main %}
<title>Home page</title>

<head>
<!--Welcome picture-->
<div class="box">
    <img src="https://nordicdairycongress.com/sites/default/files/billeder/nyheder/colourbox15033372.jpg" alt="welcome" width="360" height="150">
</div>

</head>

<!--Section for company updates, possibly add images if users needs to show informtaion or images-->
<div class="container">

<div class="center">
  <h3>Daily Tasks</h3>
    <p>drive around first thing in the morning , look for <strong> visable </strong>problems:</p>
    <ul>
    <li>flat tires</li>
    <li>side steps damaged/bent</li>
    <li>Netradyne cameras hanging loose</li>
    <li>phone stands broken or missing</li>
    <li><strong>make a list for dispatch in the morning to state available Prime vans,  vans out, and vans to hold back if possible </strong></li>
    </ul>
    
    

  <h3>Weekly Tasks</h3>
    <li>Make/Update tire tread list (recommend only accounting for size 6 and below . Anything above a 6 is ok)</li>
    <li>check for low coolant and windshield wiper fluid to refill (If needed buy more from Blains)</li>
    <li>make a list of the back steps bent or loose also with sidesteps (physically stepping on them and checking if they are loose)</li>
    <li>charge power tool batteries</li>
    <li>turn on and check each van for working headlights to fix/replace with new ones (H7 lightbulbs)</li>

</div>

<h6 style="color: red;">With extra vans calculate having extras for the next day/s. do not send everything not in use out. Swap vans if needed to make sure vans are at station </h6>

<h4>Notes with eli</h4>
<p>only have one long term van at the shop at a time(anything more than 2 days worth of work), & only one short term van like bent side/back steps. ask eli for time estimate if unsure to leave at the shop or not </p>

<h4>Notes with firestone</h4>
<p>(take down milage before heading in) try to only have one long term and one short term van at a time. tires <strong>should</strong> get done but for now do not prioritize. Anything engine-light related usually takes days to get back. Tiers can usually get done same day or next day in the morning . Ask firestone for time estimate if unsure (you can call and ask for an update, say you have more vans to bring but want to time things out right)</p>

<h4>Naperville dealership notes</h4>
<p>Anything that feels like an axle problem or transmission problem is a dealership problem . firestone will tell you guys if its a warranty problem after they check it at that point find time to move it over to the dealership (bring firestone Check engine light vans)</p>

<h5>Extra Notes</h5>
<ul>
    <li><strong>Headlight bulbs (H7):</strong> Oreilys, Advanced auto Parts, Autozone </li>
    <li><strong>Coolant/ Windshield wiper fluid: </strong> Blains</li>
</ul>



</div>
{% endblock %}

